<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <h1> INVOICE NO: 10 </h1>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="col">
      <img
      src="../../assets/AppleMe.png"
      alt="logotipo"
      class="logotipo">
    </div>

    <div class="col">
      <h2>AppleMe.lk</h2>
      <p>0777 911 011 </p>    
      <div class="address">
        <p>info@appleme.lk</p>
        <p>23/D Raxapana Malwana, </p>
        <p>Biyagama, Sri Lanka</p>
        <p>11670 Malwana</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col-3 label">
      <p>Customer Name:</p>
      <p>Contact No:</p>
    </div>

    <div class="col-9">
      <p>Murshid Hassen</p>
      <p>94 023 02 03</p>
    </div>
  </div>

  <div class="row no-gutters items-group">
    <div class="col-3 label">
      <p>Equipamento:</p>
      <p>Cor:</p>
      <p>Serial:</p>
      <p>Problema:</p>
      <p>Observações:</p>
    </div>

    <div class="col-9">
      <p>Telemóvel > Apple > Iphone 6</p>
      <p>Cinza</p>
      <p>appl2015ewfwejuk23423</p>
      <p>Não arranca</p>
      <p>codigo: 1798 - tem de ficar pronto até dia 12/02/2019</p>
    </div>
  </div>

  <div class="row items-group">
    <table class="col table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Discount</th>
          <th scope="col">Amount LKR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">HEAD Set</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row items-group">
    <table class="col table">
      <thead>
        <tr scope="col">
          <th>Discount</th>
          <th>120</th>
        </tr>
        <tr scope="col">
          <th>Total</th>
          <th>1200</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row no-gutters items-group">
    <div class="col">
      <p class="label">Condições Gerais:</p>
      <ul class="disclaimer">
        <li>Prazo para levantar 90 dias</li>
        <li>Garantia 90 dias</li>
        <li>Esta assistência só é entregue a quem apresentar este documento</li>
        <li>O preço acresce 10% a cada 30 dias após fim do prazo de levantamento (taxa de conservação)</li>
        <li>Os dados do cliente, acima mencionados, ficam registados na N Reparações apenas para efeitos de comunicação
          em relação às suas assistências e facturação
        </li>
      </ul>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col">
      <p class="disclaimer signature-field">Declaro que li e concordo com o disposto neste documento em 03/02/2019</p>
    </div>
  </div>
</div>